<!--
  <ion-header>
  <ion-toolbar>
    <ion-title>aboutUs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
-->

<ion-header> 
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
     </ion-buttons>
     <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
  
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <ion-card>
    <img width="310" height="350" src="/assets/store.png" />    
    <ion-card-header>
      <ion-card-title>Rua Bento Gonçalves 911, esquina Tiradentes.</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>

