<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar color="light">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true">-->
<ion-content [fullscreen]="true" style="--ion-background-color: rgb(230, 230, 255);" padding class="background">  

  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>-->

        <!--<ion-button (click)="GetUserDetails()">Users</ion-button>
        <ion-button [routerLink]="['/idealist']" routerdirection="forward">Ideas</ion-button>-->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <ion-button [routerLink]="['/idealist']" expand="block" fill="outline" color="dark" shape="round">Clientes</ion-button>
        <ion-button [routerLink]="['/sale-list']"  expand="block" fill="outline" color="dark" shape="round">Vendas</ion-button>
        <ion-button [routerLink]="['/report']" routerdirection="forward"  expand="block" fill="outline" color="dark" shape="round">Relatório</ion-button>
        <ion-button [routerLink]="['/about-us']"  expand="block" fill="outline" color="dark" shape="round">Sobre Nós</ion-button>

       <!-- <ion-list *ngFor="let user of userDetails">

            <ion-item>
              <ion-label>
                <h2>{{user.name}}</h2>
                <p>{{user.profile}}</p>
              </ion-label>
            </ion-item>  

        </ion-list> -->

</ion-content>
