
<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
     </ion-buttons> 
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
        <ion-list *ngFor="let user of userDetails">

            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/images/foto.png">
              </ion-avatar>
              <ion-label>
                <h2>{{user.name}}</h2>
                <p>{{user.profile}}</p>
              </ion-label>
            </ion-item>  

        </ion-list> 

</ion-content>
